<div class="contact-info">
    <h3>Informasi Kontak</h3>
    <div class="contact-detail">
        <i class="fas fa-map-marker-alt contact-icon"></i>
        <div class="contact-text">
            <h4>Alamat</h4>
            <p>Jl. PB Sudirman, Desa Wringin Anom<br>Kec. Panarukan, Kab. Situbondo (68351)<br>Provinsi Jawa Timur</p>
        </div>
    </div>
    <div class="contact-detail">
        <i class="fas fa-phone-alt contact-icon"></i>
        <div class="contact-text">
            <h4>Telepon</h4>
            <p>+6285647709114</p>
        </div>
    </div>
    <div class="contact-detail">
        <i class="fas fa-envelope contact-icon"></i>
        <div class="contact-text">
            <h4>Email</h4>
            <p>lenterakaryasitubondo@gmail.com</p>
        </div>
    </div>
    <div class="contact-detail">
        <i class="fas fa-clock contact-icon"></i>
        <div class="contact-text">
            <h4>Jam Operasional Admin</h4>
            <p>Senin - Jumat: 09.00 - 16.00<br>Sabtu & Minggu: 07.00 - 19.00</p>
        </div>
    </div>
</div>
